body{
    padding: 25px;
 }
 
 .headerGrid{   
    display: flex; 
    justify-items: center;
    border-radius: 20px;
    justify-content: flex-end;
 }
 
 .homeIcon{
    display: flex; 
    align-items: flex-end; 
    justify-content: flex-end; 
 }
  
  .tonyGrid{   
     display: grid; 
     grid-template-rows: 162.5px 162.5px 162.5px 162.5px 500px 250px; 
     grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 10% 10% 5% 5% 5% 5% 5% 5% 5% 5%;
     justify-items: center;
     border-radius: 20px;
     align-items: center;
     align-content: center;
     align-self: center;
  }
 
  .footGrid{   
    display: grid; 
    grid-template-rows: 100px 100px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    justify-items: center;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    align-self: center;
 }
  
  .aboutMeHead{   
     grid-column: 1/19;
     grid-row: 1/5;
     z-index: 5;
  }
 
  .aboutMeTextBox{  
    text-align: center;
    grid-column: 1/19;
    grid-row: 5/8; 
   align-self: start;
     width: 700px;
     z-index: 2;
  }
 
  .header{
 color: rgb(44, 44, 44);
 font-size: 70px;
  }
  .paragraph{
    color: rgb(44, 44, 44);
    padding-bottom: 15px;
    font-size: 40px;
     }
 
  .paragraph2{
 color: rgb(91, 91, 91);
 padding-bottom: 15px;
 font-size: 30px;
 
 
  }
 
  @font-face {
    font-family: header;
    src: url(/Fonts/FirstPlace.ttf);
  
  }
 
  @font-face {
    font-family: paragraph;
    src: url(/Fonts/effortless.ttf);
    
  }
 
 /* ROW IS UP AND DOWN & GRID IS LEFT AND RIGHT */
 
  .gridHIIMG1{
    grid-row: 1/4;
    grid-column: 2/4;
    transform: rotate(-20deg);
    z-index: 1;
    height:800px;
  }
 
  .gridHIIMG2{
    grid-row: 6/6;
    grid-column: 1/4;
    transform: rotate(-5deg);
    z-index: 0;
    height:550px;
  }
 
  .gridHIIMG3{
    grid-row: 2/9;
    grid-column: 3/7;
    transform: rotate(9deg);
    z-index: 0;
    height:300px;
  }
 
  .gridHIIMG4{
    grid-row: 1/3;
    grid-column: 3/7;
    transform: rotate(-10deg);
    z-index: 1;
    height:400px;
  }
 
  .gridHIIMG5{
    grid-row: 9/10;
    grid-column: 4/6;
    transform: rotate(10deg);
    z-index: 3;
    height:700px;
  }
 
  .gridHIIMG6{
    grid-row: 8/10;
    grid-column: 1/4;
    transform: rotate(-9deg);
    z-index: 1;
    height:400px;
  }
 
  .gridHIIMG7{
   grid-row: 4/10;
   grid-column: 1/6;
   transform: rotate(9deg);
   z-index: 0;
   height:325px;
 }
 
 .gridHIIMG8{
   grid-row: 5/10;
   grid-column: 1/3;
   transform: rotate(-9deg);
   z-index: 3;
   height:200px;
 }
 
 .gridHIIMG9{
   grid-row: 7/10;
   grid-column: 3/8;
   transform: rotate(-9deg);
   z-index: 1;
   height:200px;
 }
 
 .gridAlien{
   grid-row: 1/9;
    grid-column: 2/7;
    transform: rotate(9deg);
    z-index: 0;
    height:500px;
 }
 
   .gridLOWIMG1{ 
    grid-row: 3/3;
    grid-column: 4/9;
    transform: rotate(20deg); 
    height:550px;
  }
 
  .gridCallMe{
   grid-row: 1;
   grid-column: 1/11;
   height:250px;
 }

 .SocialsBox{
  grid-row: 2;
  grid-column: 1/11;
  background-color: rgb(186, 186, 186);

  display: flex;
  justify-items:center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
 
 .SQUARE{
   grid-column: 8/19;
   grid-row: 1/8;
   height: 800px;
   width: 900px;
   z-index: 0;
   background-color: rgb(198, 98, 255);
   opacity: 0%;
 }
 
 .SQUARE2{
   grid-column: 9/9;
   grid-row: 4/8;
   height: 525px;
   width: 700px;
   z-index: 1;
   background-color: rgb(177, 177, 177);
   opacity: 0%;
 }
 
 .SQUARE3{
   grid-column: 8/19;
   grid-row: 1/8;
   height: 800px;
   width: 900px;
   z-index: 3;
   background-color: rgb(167, 16, 255);
   opacity: 0%;
 }
 
  