body {
    width: 100vw;
    height: 90vh;

    display: grid;

    grid-template-rows: 70% 30%;
    grid-template-columns: 50% 50%;

    background-color: coral;
}

.textContainer {
    height: 550px;
    width: 400px;

    /* border: solid white 5px; */
    border-radius: 5px;

    grid-row: 1/1;
    grid-column: 2/2;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}